.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(4, 11, 36, 0.7);
  backdrop-filter: blur(25px);

  .modalContent {
    width: 400px;
    min-width: 400px;
    height: 350px;
    background: white;
    padding: 2em;
    border-radius: 16px;
    background: rgba(24, 30, 54, 0.8);
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    font-size: 12px;
    font-family: "Poppins";

    .title {
      font-size: 24px;
      color: white;
    }

    .process {
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2em;

      .path {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        .section {
          position: relative;

          .marker {
            background: rgba(255, 255, 255, 0.1);
            border: 2px solid rgba(255, 255, 255, 0.3);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            z-index: 2;
          }

          .chain {
            border-left: 3px solid rgba(255, 255, 255, 0.3);
            position: absolute;
            height: 190%;
            left: 8px;
          }

          .chain-top {
            top: 100%;
          }
        }
      }

      .labels {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
        .label {
          color: white;
          font-size: 14px;
        }
      }
    }
  }
}
