@import "@@/_breakpoints.scss";
@import "@@/_mixins.scss";

.managementNavWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 10%;
  background: rgba(4, 11, 36, 0.5);
  backdrop-filter: blur(5px);
  min-width: fit-content;
  position: relative;
  z-index: 100;
  max-width: 100vw;

  .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
    img {
      width: 100px;
    }
    span {
      color: white;
    }
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    min-width: fit-content;
    cursor: pointer;

    @include md {
      display: none;
    }

    a {
      transition: opacity 0.3s ease-in-out;
      color: white;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }

    .underline {
      border-bottom: 2px solid #3acbf6;
    }
  }

  .mobileLinks {
    display: none;

    @include md {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: fit-content;
      cursor: pointer;

      .mobileMenu {
        svg {
          width: 28px;
        }
      }
    }
  }

  .profileContainer {
    position: relative;
    .imageContainer {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 50px;
      max-height: 50px;
      border-radius: 100%;
      outline: 2px solid rgba(4, 11, 36, 0.7);
      outline-offset: -1px;
      .navProfile {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        border-radius: 100%;
        background: white;
        zoom: 160%;
      }
    }

    .online {
      position: absolute;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      outline: 2px solid rgba(4, 11, 36, 0.7);
      background: rgba(95, 255, 169, 1);
      top: 75%;
      right: 5%;
    }
  }
}

.mobileLinksWrapper {
  position: absolute;
  z-index: 100;
  top: 100px;
  right: 10vw;
  height: 200px;
  .mobileMenuLinks {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 2em;
    background: rgba(24, 30, 54, 0.95);
    border: 2px solid rgba(14, 79, 94, 0.5);
    box-shadow: 0px 0px 20px rgba(4, 11, 36, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 2em;
    position: absolute;
    right: 0vw;
    top: 0;
    z-index: 100;

    a {
      transition: all 0.3s ease-in-out;
      color: white;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }

    .underline {
      border-bottom: 2px solid #3acbf6;
    }
  }

  .hidden {
    display: none;
  }
}
