@import "@@/_breakpoints.scss";
@import "@@/_mixins.scss";

.managementTableWrapper {
  background: rgba(24, 30, 54, 0.9);
  box-shadow: inset -1px -1px 0px rgba(24, 30, 54, 0.25), inset 1px 1px 0px rgba(180, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 16px;
  height: 500px;
  padding: 2em;
  font-family: "Poppins";
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;

  @include md {
    width: 80vw;
  }

  .row {
    min-width: 500px;

    @include md {
      min-width: fit-content;
    }
  }

  .checkBox {
    background: rgba(24, 30, 54, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    width: 15px;
    height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 13px;
      height: 13px;
    }
  }

  .mTableHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 16px 16px 16px;
    justify-content: space-between;

    @include md {
      min-width: fit-content;
    }

    div {
      display: flex;
      gap: 20px;
    }

    .col {
      min-width: 90px;
      text-align: left;

      @include md {
        min-width: 30px;
        margin-right: 1em;
      }
    }

    .checkboxColumn {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 50px;
      text-align: left;

      @include md {
        min-width: 30px;
        margin-right: 1em;
      }
    }

    span {
      min-width: 100px;
      text-align: left;

      @include md {
        min-width: 30px;
        margin-right: 1em;
      }
    }

    .status {
      align-self: flex-end;
      text-align: right;
    }
  }

  .mTableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px;
    font-size: 12px;
    min-width: 500px;

    @include md {
      min-width: fit-content;
    }

    div {
      display: flex;
      gap: 20px;
    }

    .col {
      min-width: 90px;
      text-align: left;
      display: flex;
      align-items: center;
      gap: 2em;

      @include md {
        min-width: 30px;
        margin-right: 1em;
      }

      .privilege {
        width: 12px;
        height: 12px;
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .selectedPrivilege {
          background: #8dfe59;
          width: 8px;
          height: 8px;
          border-radius: 100%;
        }
      }
    }

    .checkboxColumn {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 50px;
      text-align: left;

      @include md {
        min-width: 30px;
        margin-right: 1em;
      }
    }

    .status {
      align-self: flex-end;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
