.buttonWrapper {
  font-family: "ClashDisplay";
  background: linear-gradient(98.48deg, #8dfe59 -3.85%, #3acbf6 35.75%, #6055ff 69.61%);
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2), inset 0px -2px 0px rgba(59, 53, 146, 0.5);
  border-radius: 80px;
  border: none;
  padding: 0.75em 4em;
  font-size: 16px;
  color: white;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  min-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.alignStart {
  align-self: flex-start;
}

.alignEnd {
  align-self: flex-end;
}

.alignCenter {
  align-self: center;
}

.fixedWidth {
  max-width: 160px;
}

.altBg {
  background: linear-gradient(98.48deg, #f6943a -3.85%, #ff7051 34.79%, #ff2727 69.61%);
}
