.nameDidWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  .title {
    font-size: 22px;
  }

  input {
    background: #2d344e;
    opacity: 0.8;
    border-radius: 8px;
    border: none;
    padding: 1em;
    width: 300px;
    color: white;
    font-family: "Poppins";
  }

  button {
    width: 200px;
  }
}
