.alertWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 500px;
  height: 500px;
  background: rgba(24, 30, 54, 0.8);
  backdrop-filter: blur(25px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;

  .title {
    font-family: 'Clash Display Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
  }

  .message {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 0 30px;

    color: rgba(255, 255, 255, 0.7);
  }
}
