  .table {
    display: flex;
    flex-direction: column;
    background: rgba(24, 30, 54, 0.9);
    box-shadow: inset -1px -1px 0px rgba(24, 30, 54, 0.25), inset 1px 1px 0px rgba(180, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 16px;
    width: 60%;
    padding: 2em;
    margin: 2em;
    min-height: 300px;

    &__title {
      align-self: flex-start;
      font-size: 22px;
    }

    &__filter {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      margin: 1em 0;
      font-family: "Poppins";
      position: absolute;
      z-index: 5;
      top: 4em;

      .Search{
        cursor: pointer;
        margin-left: 12px;
        padding: 0 20px;
        gap: 8px;
        height: 36px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.7);
        border: 2px solid transparent;
        border-radius: 35px;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        background-image: linear-gradient(to right, #040B24, #040B24), linear-gradient(98.48deg, #8DFE59 -3.85%, #3ACBF6 35.75%, #6055FF 69.61%);
      }

      .Clear{
        cursor: pointer;
        margin-left: 12px;
        padding: 0 20px;
        gap: 8px;
        height: 36px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.7);
        border: 2px solid transparent;
        border-radius: 35px;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        background-image: linear-gradient(to right, #040B24, #040B24), linear-gradient(98.48deg, #8DFE59 -3.85%, #3ACBF6 35.75%, #6055FF 69.61%);
      }
    }

    &__content {
      margin-top: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;



      .cursor_pointer{
        cursor: pointer;
      }

      .RestoreVC{
        padding: 2px 8px;
        color: rgba(255, 255, 255, 0.7);
        border: 1px solid transparent;
        border-radius: 13px;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        background-image: linear-gradient(to right, #2f2f2f, #2f2f2f), linear-gradient(98.48deg, #8DFE59 -3.85%, #3ACBF6 35.75%, #6055FF 69.61%);
        cursor: pointer;
        box-sizing: border-box;
        width: 100px;
      }

    }

    .loading{
      color: #fff;

    }

  }
