.infoCardWrapper {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  justify-content: space-evenly;
  width: 270px;
  margin: 1em;
  padding: 1em;
  border-radius: 70px;
  background: linear-gradient(104.51deg, rgba(208, 205, 255, 0.09) 0%, rgba(208, 205, 255, 0.06) 51.89%, rgba(208, 205, 255, 0.09) 99.63%);
  img {
    max-height: 50px;
    max-width: 80px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    span {
      font-size: 11px;
      opacity: 0.6;
    }

    .balance {
      opacity: 1;
      font-size: 22px;
    }
  }
}