.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1em 10%;
  background: rgba(4, 11, 36, 0.5);
  backdrop-filter: blur(5px);
  min-width: fit-content;

  .logo {
    width: 100px;
  }

  .navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    min-width: fit-content;
    cursor: pointer;

    a {
      transition: all 0.3s ease-in-out;
      color: white;
      text-decoration: none;
      &:hover {
        opacity: 0.7;
      }
    }

    .underline {
      border-bottom: 2px solid #3acbf6;
    }
  }

  .profileContainer {
    width: 100px;

    .navProfile {
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
      border-radius: 100%;
      background: white;
    }
  }
}
