.profileModal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  .modalContent {
    width: 250px;
    height: 250px;
    margin-top: 80px;
    margin-right: 5%;
    background: white;
    padding: 2em;
    background: radial-gradient(
      523.31% 283.32% at -26.82% 171.75%,
      rgba(141, 254, 89, 0.4) 0%,
      rgba(0, 255, 255, 0.1) 72.15%
    );
    border: 2px solid rgba(14, 79, 94, 0.5);
    box-shadow: 0px 0px 20px rgba(4, 11, 36, 0.2);
    backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.7);

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    font-size: 12px;
    font-family: "Poppins";

    .info {
      display: flex;
      gap: 1em;
      align-items: flex-start;
      justify-content: flex-start;

      img {
        width: 18px;
        margin-top: 3px;
      }

      .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 250px;
        overflow-wrap: break-word;
        .title {
          font-size: 16px;
          color: white;
        }

        .subtitle {
          font-size: 12px;
          width: 220px;
          overflow-wrap: break-word;
        }
      }
    }
  }
}
