.dashboardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  .cardRow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .balanceOverview {
    display: flex;
    flex-direction: column;
    background: rgba(24, 30, 54, 0.9);
    box-shadow: inset -1px -1px 0px rgba(24, 30, 54, 0.25), inset 1px 1px 0px rgba(180, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 16px;
    width: 60%;
    padding: 2em;
    margin: 2em;

    .title {
      align-self: flex-start;
      font-size: 22px;
    }

    .buttonSelectors {
      align-self: flex-start;
      margin: 1em 0;
      display: flex;
      gap: 1em;
      button {
        background: none;
        color: rgba(255, 255, 255, 0.5);
        border: none;
        font-weight: 400;
        font-size: 16px;
        font-family: "Poppins";
      }

      .selected {
        color: white;
        border-bottom: 2px solid white;
      }
    }

    .chart {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-family: "Poppins";
      margin-bottom: 2em;
    }
  }
}