.assetsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;

  .cardRow {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .history {
    display: flex;
    flex-direction: column;
    background: rgba(24, 30, 54, 0.9);
    box-shadow: inset -1px -1px 0px rgba(24, 30, 54, 0.25), inset 1px 1px 0px rgba(180, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 16px;
    width: 60%;
    padding: 2em;
    margin: 2em;
    min-height: 300px;

    .title {
      align-self: flex-start;
      font-size: 22px;
    }

    .selectorsWrapper {
      display: flex;
      flex-direction: row;
      gap: 0.5em;
      margin: 1em 0;
      font-family: "Poppins";
      position: absolute;
      z-index: 5;
      top: 4em;
    }
  }
}