.settingsWrapper {
  display: grid;
  grid-template-columns: 250px auto;
  gap: 2em;
  margin: 5% 15% 0 15%;

  .sideColumn {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 0 2em;

    button {
      color: rgba(255, 255, 255, 0.5);
      border: none;
      font-size: 16px;
      padding: 1.5em 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      background: none;
      font-family: "Poppins";
    }

    .selected {
      color: white;
    }
  }

  .mainContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: rgba(24, 30, 54, 0.9);
    backdrop-filter: blur(25px);
    border-radius: 16px;
    border: 6px solid #D0CDFF17;
    padding: 2em;

    .title {
      align-self: flex-start;
      font-size: 22px;
      padding-bottom: 1em;
      margin-bottom: 1em;
      width: 100%;
      text-align: left;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  .help {
    margin-left: 5px;
    width: 18px;
    height: 18px;
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
    cursor: help;
    border-radius: 50%;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 10px;
  }
}