.datepickerWrapper {
  background: rgba(4, 11, 36, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 35px;
  color: rgba(255, 255, 255, 0.7);

  font-family: "Poppins";
  padding: 0em 1rem;
  max-height: 40px;
  height: 40px;
  max-width: 80px;
  width: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 14px;
  svg {
    width: 18px;
  }

  .datepickerInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
  }

  .customCalendar {
    background: rgba(24, 30, 54, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2.5px);
    border-radius: 8px;
    color: #ffffff;
    margin-top: 5px;
  }

  .react-datepicker__header {
    background: rgba(24, 30, 54, 0.9);
    border-radius: 8px;
    border: none;
    font-family: "Poppins";
    color: rgba(255, 255, 255, 0.5);
  }

  .react-datepicker__current-month {
    color: white;
    font-weight: 400;
  }

  .react-datepicker__day-name {
    color: rgba(255, 255, 255, 0.5);
  }

  .customDay {
    background: rgba(24, 30, 54, 0.9);
    backdrop-filter: blur(2.5px);
    color: #ffffff;
    font-family: "Poppins";
    margin: 0.2em 0.5em;
    padding: 0.25em;
    border-radius: 100%;

    &:hover {
      background: #8dfe59;
      color: black;
      border-radius: 100%;
    }
  }

  .selectedDay {
    background: #8dfe59;
    color: black;
    border-radius: 100%;
    font-family: "Poppins";
    margin: 0.25em 0.5em;
    padding: 0.25em;
    outline: none;
  }

  .react-datepicker__triangle {
    display: none;
  }
}
