@import "../../_breakpoints.scss";
@import "../../_mixins.scss";

.managementDashboardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
  max-width: 100vw;
  overflow: none;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    max-width: 850px;

    @include sm {
      flex-direction: column;
      width: 100%;
    }
  }

  .cards {
    display: flex;
    gap: 1em;
    width: 100%;

    @include sm {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .sectionOverview {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex-grow: 1;
    @include sm {
      width: 80vw;
      align-items: center;
    }

    .sectionTitle {
      font-size: 20px;
      text-align: left;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      padding-bottom: 1em;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .liquiditySection {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    @include sm {
      width: 80vw;

      align-items: center;
    }

    .sectionTitle {
      font-size: 20px;
      text-align: left;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
      padding-bottom: 1em;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .tvl {
    background: rgba(24, 30, 54, 0.9);
    backdrop-filter: blur(25px);
    border-radius: 16px;
    padding: 1em;
    font-family: "Poppins";

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1em;

    width: 30%;
    height: 100%;

    @include sm {
      height: 70px;
      width: 90%;
    }

    .title {
      font-size: 14px;
      text-align: left;
      max-width: 90px;
      color: rgba(255, 255, 255, 0.5);

      @include sm {
        max-width: 100%;
      }
    }

    .curr {
      font-size: 11px;
    }

    .stat {
      color: white;
      font-size: 22px;
    }
  }

  .topTokens {
    background: rgba(24, 30, 54, 0.9);
    backdrop-filter: blur(25px);
    border-radius: 16px;
    font-family: "Poppins";

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1em;
    flex-grow: 1;

    @include sm {
      height: fit-content;
      width: 90%;
    }

    .title {
      font-size: 14px;
      text-align: left;
      margin-bottom: 1em;
      max-width: 90px;
      color: rgba(255, 255, 255, 0.5);

      @include sm {
        max-width: 100%;
      }
    }

    .tokens {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      gap: 0.5em;

      .tokenRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        width: 100%;

        .id {
          margin-right: 1em;
        }

        .val {
          flex-grow: 1;
          text-align: right;
          align-items: flex-end;
        }
      }
    }
  }
}
