@import "../../_breakpoints.scss";
@import "../../_mixins.scss";

.managementTableWrapper {
  background: rgba(24, 30, 54, 0.9);
  box-shadow: inset -1px -1px 0px rgba(24, 30, 54, 0.25),
    inset 1px 1px 0px rgba(180, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 16px;
  height: 450px;
  padding: 2em;
  font-family: "Poppins";
  overflow: scroll;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;

  @include md {
    width: 80vw;
  }

  .row {
    min-width: 500px;

    @include md {
      min-width: fit-content;
    }
  }

  .mTableHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 1em 1em 1em;
    justify-content: space-between;

    @include md {
      min-width: fit-content;
    }

    span {
      min-width: 100px;
      text-align: left;

      @include md {
        min-width: 30px;
        margin-right: 1em;
      }
    }

    .status {
      align-self: flex-end;
      text-align: center;
    }
  }

  .mTableRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.5em;
    font-size: 12px;
    min-width: 500px;

    @include md {
      min-width: fit-content;
    }

    div {
      display: flex;
    }

    .col {
      min-width: 100px;
      text-align: left;

      @include md {
        min-width: 30px;
        margin-right: 1em;
      }
    }

    .status {
      align-self: flex-end;
      text-align: right;
    }
  }
}
