@import "../../_breakpoints.scss";
@import "../../_mixins.scss";

.settingsModal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(4, 11, 36, 0.7);
  backdrop-filter: blur(25px);

  .modalContent {
    width: 600px;
    min-width: 350px;
    height: 350px;
    background: white;
    padding: 2em;
    border-radius: 16px;
    background: rgba(24, 30, 54, 0.8);
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    font-size: 12px;
    font-family: "Poppins";

    @include md {
      padding: 0;
    }

    .title {
      font-size: 24px;
      color: white;
    }

    .tip {
      font-size: 18px;
      text-align: center;
    }

    .btn {
      width: 250px;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;

      .row {
        display: flex;
        align-items: center;
        gap: 2em;
        width: 100%;

        .input {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1em;

          span {
            width: 100%;
          }

          input {
            background: rgba(4, 11, 36, 0.5);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 8px;
            padding: 1em 2em;
            outline: none;
            color: white;
          }
        }
      }
    }

    .selector {
      display: flex;
      align-items: center;
      gap: 1em;

      .privilege {
        width: 12px;
        height: 12px;
        border: 1px solid rgba(255, 255, 255, 0.7);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .selectedPrivilege {
          background: #8dfe59;
          width: 8px;
          height: 8px;
          border-radius: 100%;
        }
      }
    }
  }
}
