.searchWrapper {
  background: rgba(4, 11, 36, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 35px;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Poppins";
  padding: 0 0.75em;
  max-height: 40px;
  font-size: 14px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;

  svg {
    width: 18px;
  }

  input {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    width: 100px;
    height: 40px;

  }
}