.historyTableWrapper {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 100%;

  .columnLabels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(4, 11, 36, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0.75em;
    font-size: 14px;
    font-family: "Poppins";

    .help {
      display: flex;
      flex-direction: row;
      div {
        margin-left: 3px;
        width: 18px;
        height: 18px;
        background: rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.8);
        cursor: help;
        border-radius: 9px;
      }
    }
    span {
      width: 100px;
    }
    span:nth-last-child(2) {
      width: 200px;
    }
  }

  .historyTableContent {
    max-height: 305px;
    overflow-y: auto;
    .text_center {
      display: flex;
      //align-items: center;
      justify-content: center;
    }
    .historyElementWrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      color: rgba(255, 255, 255, 0.7);
      padding: 0.75em;
      font-size: 14px;
      font-family: "Poppins";
      background: rgba(255, 255, 255, 0.05);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      span:nth-last-child(2) {
        width: 200px;
      }
    }
  }
}
