.managementLoginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 2em;
  font-family: "Poppins";
  margin-top: -2em;

  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    min-width: 400px;
    padding: 2em;

    img {
      max-width: 80%;
      align-self: center;
      margin-bottom: 1em;
    }

    .title {
      font-size: 20px;
    }

    .subtitle {
      font-size: 12px;
      max-width: 300px;
      align-self: center;
      margin-bottom: 2em;
    }

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .login {
      font-size: 12px;
      cursor: pointer;
      span {
        color: rgba(58, 203, 246, 1);
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 1em;
      text-align: left;

      input {
        font-family: "Poppins";
        background: rgba(4, 11, 36, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        padding: 1em;
        color: white;
        outline: none;
      }

      label {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #c4c4c4;
        input {
          margin-right: 1em;
          width: 15px;
          height: 15px;
        }
      }

      .forgot {
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
      }

      .btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 52px;
        gap: 12px;
        background: linear-gradient(98.48deg, #8dfe59 -3.85%, #3acbf6 35.75%, #6055ff 69.61%);
        box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.2),
          inset 0px -2px 0px rgba(59, 53, 146, 0.5);
        border-radius: 80px;
        border: none;
        color: white;
        font-family: "Poppins";
        font-size: 16px;
        width: 60%;
        align-self: center;
        margin-top: 1em;
      }
    }
  }
}
