@import "@@/_breakpoints.scss";
@import "@@/_mixins.scss";

.subAccountWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  max-width: 100vw;

  @include md {
    min-height: 100vh;
  }

  .subAccount {
    display: flex;
    margin-top: 50px;
    min-width: 950px;
    display: flex;
    flex-direction: column;
    gap: 2em;

    @include md {
      min-width: 0;
      max-width: 100vw;
    }

    .subAccountControls {
      display: flex;
      justify-content: flex-end;
      gap: 2em;
    }
  }
}
