.historyElementWrapper {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.7);
    padding: 0.75em;
    font-size: 14px;
    font-family: "Poppins";
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    span {
      width: 100px;
      font-size: 13px;
    }
}