.modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(4, 11, 36, 0.7);
  backdrop-filter: blur(25px);

  .modalContent {
    width: 600px;
    min-width: 600px;
    height: 350px;
    background: white;
    padding: 2em;
    border-radius: 16px;
    background: rgba(24, 30, 54, 0.8);
    color:rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 12px;
    font-family: "Poppins";
    .items {
      display: grid;
      grid-template-columns: 1fr 3fr;
      gap: 1em;
      .label {
        color: white;
        text-align: right;
        font-weight: 500;
      }

      .green {
        color: #8DFE59;
      }
    }
  }
}