.withdrawWrapper {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  .help {
    color: rgba(58, 203, 246, 1);
    text-decoration: underline;
    text-underline-offset: 0.25em;
    font-size: 12px;
    margin: 1em;
  }

  .historyElementWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.7);
    padding: 0.75em;
    font-size: 14px;
    font-family: "Poppins";
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    span {
      width: 100px;
      font-size: 13px;
      //display: flex;
      //align-items: center;
      //justify-content: center;
    }
  }

}
