.App {
  text-align: center;
  background-color: #040b24;
  background-image: url("./assets/glows.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: fit-content;
  color: white;
}
