@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@font-face {
  font-family: ClashDisplay;
  src: url('./assets/fonts/FontsFree-Net-ClashDisplay-Variable.ttf');
  font-weight: 400 500 700 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'ClashDisplay', 'Poppins';
}