@font-face {
  font-family: ClashDisplay;
  src: url('./assets/fonts/FontsFree-Net-ClashDisplay-Variable.ttf');
  font-weight: 400 500 700 900;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'ClashDisplay';
}
