.sippageToleranceWrapper {
  margin-top: 2em;
  display: flex;
  gap: 2em;
  font-size: 14px;
  font-family: "Poppins";

  .row {
    display: flex;
    flex-direction: row;
    gap: 3em;
    align-items: center;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.8);

    & > span:first-child {
      width: 300px;
      text-align: left;
    }

    img {
      width: 18px;
    }

    .time {
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      width: fit-content;
    }
  }

  .slippage {
    background-clip: padding-box, border-box;
    background-image: linear-gradient(90deg, #040b24, #040b24),
      linear-gradient(98.48deg, #8dfe59 -3.85%, #3acbf6 35.75%, #6055ff 69.61%);
    background-origin: padding-box, border-box;
    border: 2px solid transparent;
    border-radius: 35px;
    color: hsla(0, 0%, 100%, 0.7);
    cursor: pointer;
    gap: 8px;
    height: 36px;
    line-height: 36px;
    margin-left: 12px;
    padding: 0 20px;
  }

  .inputWrapper {
    background: rgba(4, 11, 36, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 35px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Poppins";
    padding: 0 20px;
    max-height: 40px;
    font-size: 14px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;

    input {
      background: none;
      border: none;
      outline: none;
      color: white;
      font-family: "Poppins";
      margin: 0;
      padding: 0;
      width: 100%;
      height: 40px;
    }
  }
}
